- nth_incomplete_mapping = student.nth_incomplete_mapping
- if nth_incomplete_mapping
  %p.card-footer-item.has-text-danger.has-cursor-help{title: t('lesson_executions_seating_plans.seat_student_footer.nth_incomplete_mapping', n: nth_incomplete_mapping + 1)}
    = icon('fas', 'map-signs')
    = nth_incomplete_mapping + 1
