%p.card-footer-item.is-size-4.has-text-weight-bold.has-cursor-help{title: t('lesson_executions_seating_plans.seat_student_footer.lesson_sum')}
  = student.question_response_sum_for_most_recent_lesson
