- spam_count = student.spam_count

- if spam_count > 0
  %p.card-footer-item.is-size-4.has-text-danger.has-cursor-help{ title: t('lesson_executions_seating_plans.seat_student_footer.spam_count') }
    = icon('fas', 'exclamation-triangle')
    %span= spam_count
